body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 55em;
    background-color: cadetblue;
}

#content {
    margin: 1em;
    padding: 2em;
    background-color:cornsilk;
    border: 1px solid cadetblue;
    border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -ms-border-radius: 0.6em;
    -o-border-radius: 0.6em;
}